language: php
php:
  - 7.2

matrix:
  fast_finish: true

before_script:
  - travis_retry composer self-update
  - travis_retry composer install --prefer-dist --no-interaction
  - curl -sOL https://cs.sensiolabs.org/download/php-cs-fixer-v2.phar
  - curl -sOL https://phar.phpunit.de/phpcpd.phar

script:
  - php vendor/bin/phpunit
  - php php-cs-fixer-v2.phar fix --dry-run --using-cache false --diff
  - php phpcpd.phar src --min-lines=10
